.container .statuses {
    display: flex;
    justify-content: space-between;
    height: 110px;
    margin: 0 80px;
}

.container .statuses .material-output {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .221);
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

.container .statuses .material-output .title {
    display: flex;
    align-items: center;
}

.container .statuses .material-output .status {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .statuses .material-output .status h2 {
    font-size: 28pt;
}

.container .statuses .material-output .status .late {
    display: flex;
}

.container .statuses .material-output .status .late span {
    font-size: 16pt;
    margin-right: 10px;
}

.container .statuses .material-output .title h3 {
    font-size: 12pt;
    font-weight: 300;
    margin-left: 5px;
}

.container .statuses .balance-general {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .221);
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}

.container .statuses .balance-general .title {
    display: flex;
    align-items: center;
}

.container .statuses .balance-general .status {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .statuses .balance-general .status h2 {
    font-size: 28pt;
}

.container .statuses .balance-general .title h3 {
    font-size: 12pt;
    font-weight: 300;
    margin-left: 5px;
}

.container .statuses .higher-output {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .221);
    width: 380px;
    padding: 10px;
    border-radius: 10px;
}

.container .statuses .higher-output h3 {
    font-size: 12pt;
    font-weight: 300;
    margin-left: 5px;
}

.container .statuses .higher-output .title {
    display: flex;
    align-items: center;
}

.container .statuses .higher-output .outputs {
    font-size: 12pt;
    font-weight: 300;
}

.container .statuses .higher-output .outputs ul {
    list-style: circle;
    padding: 0 15px;
}