body {
    background: var(--bg-default);
}

.login {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 100px auto;
    padding: 20px;
    width: 400px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .123);
}

.login h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20pt;
    font-weight: 500;
}

.login h3 {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 16pt;
}

.login .message {
    display: none;
    background: var(--clr-error);
    padding: 5px;
    border: 1px solid var(--clr-error-border);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 300;
}

.login .show { /* MENSSAGEM DE ERRO DO LOGIN */
    display: block;
}

.login span {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 13pt;
}

.login input {
    margin-bottom: 10px;
    height: 40px;
    outline: none;
    padding: 0 10px;
    font-size: 14pt;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login input:focus {
    border: 1px solid var(--bg-light);
}

.login .forgot-pwd {
    margin-top: -30px;
    font-size: 11pt;
}

.login #vision-passwd {
    color: #8a8a8a;
    font-size: 18pt;
    position: relative;
    left: 325px;
    width: 25px;
    top: -40px;
    cursor: pointer;
}

.login .forgot-pwd {
    text-align: right;
}

.login .forgot-pwd a {
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-deep2);
}

.login .forgot-pwd a:hover {
    text-decoration: underline;
}

.login button {
    background: var(--bg-light);
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--clr-deep);
    color: #fff;
    font-size: 14pt;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

.login button:active {
    background: var(--clr-deep);
    border: 1px solid var(--bg-light);
}

.login .signup-user {
    /* display: none; REMOVER DEPOIS*/
    margin-top: 20px;
}

.login .signup-user a {
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-deep2);
}

.login .signup-user a:hover {
    text-decoration: underline;
}