body {
    background: var(--bg-default);
}

.signup {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 100px auto;
    padding: 20px;
    width: 400px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .123);
}

.signup h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20pt;
    font-weight: 500;
}

.signup h3 {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 16pt;
}

.signup .message-login {
    display: none;
    background: var(--clr-error);
    padding: 5px;
    border: 1px solid var(--clr-error-border);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 300;
}

.signup .show { /* MENSSAGEM DE ERRO DO LOGIN */
    display: block;
}

.signup span {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 13pt;
}

.signup input {
    margin-bottom: 10px;
    height: 40px;
    outline: none;
    padding: 0 10px;
    font-size: 14pt;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup input:focus {
    border: 1px solid var(--bg-light);
}

.signup button {
    background: var(--bg-light);
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--clr-deep);
    color: #fff;
    font-size: 14pt;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

.signup button:active {
    background: var(--clr-deep);
    border: 1px solid var(--bg-light);
}

.signup .login-user {
    margin-top: 20px;
    font-size: 11pt;
}

.signup .login-user a {
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-deep2);
}

.signup .login-user a:hover {
    text-decoration: underline;
}