.register {
    height: calc(100vh - 100px);
    margin: 0 80px;
    width: 500px;
}

.register div label {
    display: block;
}

.register .codigo {
    background: #f00;
}

.register .desc {
    background: #f00;
}

.register .lanc {
    background: #f00;
}

.register .tmedida {
    background: #f00;
}

.register .estoque {
    background: #f00;
}

.register .local {
    background: #f00;
}